*{
	margin: 0;
	padding: 0;
}
#top{
	height: 100px;
}
body{
	margin: auto;
	background-color: #4286f4;
	font-family: Arial, Helvetica;
}
.main-conatiner{
	margin: auto;
	padding: 5px;
	width: 800px;
	height: 400px;
	background-color: #009900;
}
.player-one{

}
.player-two{

}
.dealt-flop{

}
.dealt-river{

}
.dealt-turn{

}
